.container{
  width: 100%;
  background: red;
}
mat-grid-tile {
    
}

mat-card{
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.billingbg{
  background-color: rgb(141, 238, 15);
  float: right;
}
.amount{
  font-size: 13px;
  color: antiquewhite;
}
.matbuttonst{
  font-size: 25px;
  background: rgba(83, 71, 248, 0.8);
  border-radius: 10px;
  width: 250px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
}
.carpad{
  float: left;
  margin-top: 0px;
  height: auto;
  background: red;
}
.leftgrid{
  justify-content: flex-start !important ;
   align-items: flex-start !important;
}
mat-form-field {
  width: 80%;
}
.matformcol{
  background: rgba(98, 98, 98, 0.1); 
  font-size: 20px;
  height: 70px;
}
table {
  width: 100%;
  background: rgba(98, 98, 98, 0.1);
  
}

th{
  font-size: 20px;
  font-weight: bold;
}

td{
  font-size: 18px;
}
 .print{
   width: 100px;
   background: black;
   color: white;
   text-align: center;
   font-size: 20px;
   padding: 5px;
   margin-bottom: 15px;
   border-radius: 10px;
 }
