/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;
            width: 100%; }
body { margin: 0; font-family: "Poppins", sans-serif;}

.bg {
    max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        background-size :cover;
    
    
    background-image: url("/assets/img/back/main.jpg");
}

.mat-tab-label {
    position: relative;
    margin: 20px;
    min-width: 25px !important;
    background-color: transparent;
    color: rgb(0, 0, 0);
    opacity: 1 !important;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    align-items: center;

  }

  .mat-tab-label:hover{
    color: blue;
    transition: 0.3s;
  }

