.container{
    margin-top: 3%;
    padding-bottom: 6%;
    width: 100vw;
    /* background: red; */
    align-items: center;
    text-align: center;
}

.about{
    padding: 2%;
    display: inline-block;
    position: relative;
    width: 94% ;
    height: auto;
    left: 0%;
    

    background: rgba(255, 255, 255, 0.5);
    /* mix-blend-mode: overlay; */
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    font-style: Catamaran;

    background-image: url("/assets/img/back/about.jfif");
    background-size :1330px 700px;
    background-repeat: no-repeat; 

}


h1 {
    background-color:  rgba(124, 12, 199, 0.6);;
    color: white;
  }

p {
    text-align: left;
    font-family: catamaran;
    font-size: 25px;
}