

.footer p{
    position: fixed;
    margin-bottom: 0px;
    margin: auto auto;
    text-align: center;
    align-items: center;
    /* width: 415px; */
    /* height: 28px;
    left: 716px; */
    bottom: 0;
    background-color: black;
    padding: 1%;
    font-family: 'Changa', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 100%;
    z-index: 1;
    /* identical to box height */
    

    text-align: center;

    color: #ffffff;
}

@media all and (max-width:320px){
    .footer p{
        font-size: 6px;
    }
}
@media all and (min-width:320px){
    .footer p{
        font-size: 10px;
    }
}
@media all and (min-width:768px){
   .footer p{
       font-size: 15px;
   }

}
@media all and (min-width:1024px){
    .footer p{
        font-size: 20px;
    }
}
@media all and (min-width:1200px){

}