::ng-deep .mat-progress-bar-fill::after {
  background-color: #ffdf00;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.content::-webkit-scrollbar {
  display: none;
}

.serviceStationsScroll::-webkit-scrollbar {
  display: none;
}
 
  .container{
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    align-items: center;
    text-align: center;
    margin: 1% auto;
    top: 1%;
    width: 98%;
    height: 50vh;
    border-radius: 25px;
    padding-top: 0%;
    /* padding-bottom: 6%; */
  }
  .content{
    width: 100%;
    margin: 2px auto;
    /* background: red; */
    max-height: 51vh;
    height: auto;
    overflow: auto;
  }

  .serviceStationsScroll{
    height: 33vh; 
    overflow: auto;
  }
  

  form{
    height: auto;
   
  }

  .mat-stepper-horizontal {
    width: 100%;
    margin-right: 10%;
    background:transparent;
  }
  
  .mat-form-field {
    margin-top: 16px;
    background:  transparent;
  }

  mat-grid-list{
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .topic{
    position: relative;
    top: 0px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 0px;
    /* identical to box height */
    
    text-align: center;
    color: #FFFFFF;
  }

  .serviceType{
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    /* background: red; */
  }

  .servicesButtons{
    width: 100%;
    height: 100%;
    font-family: catamaran;
    font-size: 20px;
    white-space: pre-wrap;
    background: #e1e1e1;
    color: #000000;

  }

  
  .servicesButtons:disabled{
    width: 100%;
    height: 100%;
    font-family: catamaran;
    font-size: 20px;
    
    opacity: 0.3; 
    cursor: not-allowed;
    color: black; 
    background: #c4c4c4;

  }

  .desktop{
    margin-top: 10px;
  }

  .buttons{
    position: fixed;
    bottom: 8%;
    left: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    /* background: blue; */
  }

  .nextButton, .backButton {
    
    position: relative;
    /* top: 10%; */
    /* left: 48%; */
    background: #000000;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    /* width: 150px; */
    font-size: 17px;
    font-family: Catamaran;
    font-size: 25px;
    margin: 4px 2px;
    display: inline-block;
    color:white;
    margin: 1%;
    text-align: center;
    align-items: center;
    transition: 0.5s;
  }

  .nextButton:hover, .backButton:hover{
    background: blue;
    color: white;
    transition: 0.5s;
  }

  .nextButton:disabled{
    background: rgba(85, 85, 99, 0.829);
    color: rgb(236, 231, 231);
    /* transition: 30s; */
    opacity: 0.6; 
    cursor: not-allowed;
    
  }

  /* .vehiclecontent p{
    color: rgba(255, 255, 255, 0.2);
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 35px;
    background: red;
  } */


  .backButton {
    background: white;
    color: black;
  }

  #confirmButton{
    background: #00FF00;
    color: black;
  }

  #confirmButton:hover{
    background-color: teal;
    color: white;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 16%;
    display: inline-block;
    margin-top:5%;
    margin-left:8%;
    border-radius: 10px 10px 0px 0px;
    font-family: Catamaran;
    
  }
  .card:active,
  .card:focus{ 
    
    border:0.5em solid rgb(25, 159, 236); /* here configure as your needs */
    color:#00c;
  }

  .button1,.button2{ 
    color: rgb(255, 255, 255); 
    background: rgba(255, 255, 255,0.5);
    border: 1px solid #ffffff;
    position: relative;
    width: 400px;
    height: 400px;
    /* left: 400px; */
    font-size: 46px;
    font-family: Catamaran;
    mix-blend-mode: normal;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 20px;
    margin-bottom: 50px;
  }

  .button1:hover,.button2:hover {
    background: rgba(179, 179, 179, 0.5);
    color: white;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #ffffff;
    mix-blend-mode: normal;
  }

 

  .button1:focus,.button2:focus {
    /* border:10px solid #da1616; */
    background: rgb(37,122,253);;
    color: white;
    mix-blend-mode: normal;
    border: 1px solid #5959ff;

    

  }

  img {
    border-radius: 10px 10px 0px 0px;
  }
  


  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  }
  
  /* Add some padding inside the card container */
  .containerVehicle {
    padding: 2px 16px;
    text-align: center;
    font-size: 20px;
    border-radius: 0px 0px 10px 10px ;
    
    background: rgba(255, 255, 255, 0.2);
    
  }

  mat-grid-tile {
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: Catamaran;
    color:#ffffff;
    font-size: 22px;
  }

  .buttonTime {
    background-color: #eff8ef; /* Green */
    border: none;
    color: rgb(7, 7, 7);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px;
    transition-duration: 0.4s;
    cursor: pointer;
    width:320px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: Catamaran;
    font-size: 30px;
  }
  
  .buttonTime:hover {
    background-color: #008CBA;
    color: white;
  }

  /* .timeslotsection{
    display: inline-block;
    height: 10%;
  } */

  .buttonContainer{
    position: relative;
    margin-top: 5%;
    width: 65%;
    height: auto;
    border-radius: 15px;
    font-family: Catamaran;
    float: left;
  }
  
  .serviceAppointConfirmation{
    display: inline-block;
    position: relative;
    margin-top: 0%;
    width: 50%;
    height: 30%;
    /* float: right; */
    padding: 20px;
    font-size: 25px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    /* mix-blend-mode: overlay; */
    /* box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 15px;
    font-family: Catamaran;
  }

  .serviceAppointConfirmation h1{
    text-transform: capitalize;
  }  

  .demo-inline-calendar-card {
    width: 20%;
    margin-top: 1%;
    background: rgba(255, 255, 255, 0.747);
    mix-blend-mode: overlay;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  }

  .date{
    align-items: center;
    text-align: center;
    /* background: chartreuse; */
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 100px;
    left: 0px;
  }

  .dateNote{
    width: 300px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    font-family: Catamaran;
    
  }

  #selectedDate{
    position: relative;
    text-align: center;
    font-family: catamaran;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    /* margin-top: 2%; */
    cursor: pointer;
    margin-left: 0px;
  }

  #selectedDate:focus{
    outline: none;
  }

  mat-card{
    display: inline-block;
    background: rgb(255, 255, 255);
    position: relative;
    margin: 10px;
    border-radius: 10px;
  }

  
  #serviceStationSearch {
    background-image: url('/assets/img/ico/search.png');
    background-position: 10px 12px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 90%;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 20px;
  }
  
  #serviceStationsTable {
    position: relative;
    border-collapse: collapse;
    background: rgba(245, 245, 245, 0.5);
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    font-size: 20px;
    border-radius: 10px;
    font-family: catamaran;
    margin: 0px auto;
  }
  
  #serviceStationsTable th, #serviceStationsTable td {
    text-align: left;
    padding: 12px;
    
  }

  #serviceStationsTable .serviceLocation{
    text-align: end;
    /* background: red; */
    /* float: right; */
    /* margin-top: 15px; */
  }

  #serviceStationsTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  
  #serviceStationsTable tr:hover{
    background: whitesmoke;
    cursor: pointer;
  }

  #serviceStationsTable tr.header, tr.header:hover{
    background-color: rgba(61, 12, 238, 0.525);
    cursor: default;
  }

  #serviceStationsTable tr.classToApply{
    background-color: rgb(37,122,253);;
    color: white;

  }

  .tableRoww{
    background-color: aqua;
  }
  
  th{
    color: white;
    font-weight: 700;
  }



  /* #serviceStationsTable tr:active{
    background: rgb(110, 181, 228);
    cursor: pointer;
  }

  #serviceStationsTable tr:focus{
    background: rgb(110, 181, 228);
    cursor: pointer;
  } */


  /* Choose your vehicle */
  .vehiclecontent{
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
    /* padding: 10px;   */
    /* background: red; */
}

#vehiclebutton img, .addcar img{
    width: 90%;
    height: 80%;
    margin-top: 6%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 15px rgba(15, 3, 124, 0.1);
    filter: brightness(60%);
}

#addvehicle{
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 10px;

}

#vehiclebutton img:hover{
    width: 95%;
    height: 85%;
    transition: 0.3s;
    margin-top: 1%;
    filter: brightness(100%);
}



#vehiclebutton, .addcar{
    width: 220px;
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    margin: 1%;
    color: rgba(255, 255, 255, 0.2);
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: center;
}


#vehiclebutton p{
  position:relative;
  /* margin-top: 80px; */
  /* margin-left: 26px; */
  filter: brightness(100%);
  
}


#vehiclebutton:focus{
  /* outline: rgb(7, 221, 210) auto 5px; */
  background: rgb(37,122,253);
}

#vehiclebutton:focus img,#vehiclebutton:focus p {
  filter: brightness(100%);
  color: white;
}

.ifFullserviceLocked{
  opacity: 0.3; 
  cursor: not-allowed;
}

.ifFullserviceLocked:hover{
  opacity: 0.3; 
  cursor: not-allowed;
  color: black; 
  background: #c4c4c4;
  cursor:not-allowed;
}

.fullServiceSelected{
  background:rgba(37,122,253, 0.6);
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  /* border: 5px solid rgb(0, 8, 227); */
  opacity: 1;
}

.serviceSelected{
  /* border:10px solid #15ee15; */
  background: rgb(37,122,253);
  color: white;
  transition: 0.3s;

}

.mat-raised-button{
  background-color: #e6e6e6;
  color: rgb(10, 10, 10);
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
  margin-left: 15px;
  padding: 8px 20px;
  
}

.mat-fab{
  margin-left: 10px;
  /* background: blue; */
}

#dateselect{
  background: #00c;
  color: white;
}

#timeSlotTable {
  position: relative;
  border-collapse: collapse;
  background: rgba(245, 245, 245, 0.5);
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 20px;
  border-radius: 10px;
  font-family: catamaran;
  width: 50%; 
  margin: 0px auto;
}

#timeSlotTable th {
  text-align: center;
  padding: 3px;
  width: 100%;
  font-family: Catamaran;
 
}

#timeSlotTable td{

  text-align: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
  /* background: rgb(226, 74, 175);  */
  
}

#timeSlotTable tr {
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid #fafafa;
  width: 100%;
  /* background-color: rgba(221, 221, 221, 0.2); */
}

#tableDIV{  
 width: 100%;
}


/* #timeSlotTable tr:hover{
  background: whitesmoke;
  cursor: pointer;
} */

#timeSlotTable tr.header, tr.header:hover{
  background-color: rgba(61, 12, 238, 0.525);
}

.timeslotButton{
  font-size:larger;
  text-align: center;
  justify-content: center;
  /* border-bottom: 6px solid #ddd; */
  padding: 3px;
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.timeslotButton:hover{
  display: flex;
  width: 100%;
  background-color: #fafafa;
  
}

.timeslotButton:active{
  background: #56c2fc;
  display: flex;
  width: 100%;
  /* outline: rgb(7, 221, 210) auto 5px;  */
}

.timeslotButton:focus{
  /* border-bottom: 6px solid blue; */
  display: flex;
  width: 100%;
  /* outline: rgb(7, 221, 210) auto 5px;  */
  background-color: rgb(37,122,253);;
  color: white;
  transition: 0.3s;
}

.timeslotButton:disabled{
  display: none;
}

/* #timeSlotTable tr.classToApply{
  background-color: rgb(24, 190, 202);

} */

.Can_Allocate{
  background-color: #50cceb;

}

.Cannot_Allocate{
  background-color: rgb(111, 117, 119);
  opacity: 1;
  cursor:not-allowed ;
}



::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}


@media all and (max-width:320px) {

  .desktop{
    display: none;
  }

  .stepLabel{
    display: none;
  }

  #vehiclebutton img {
    filter: brightness(100%);
  }

  #vehiclebutton p{
    color: rgba(255, 255, 255, 0.6);
  }

  #ratingscolumn{
    width: 34%;
  }
  
  .container{
    width: 104%;
    padding: 0px;
    padding-bottom: 6%;
  }

  .mat-stepper-horizontal {
    width: 100%;
    /* margin: 2px auto; */
    margin-right: 0px;
    background:transparent;
  }
  ::ng-deep .mat-progress-bar {
    display: none !important;
  }
  .ratecount{
    display: none;
  }

  

  
}
@media all and (min-width:320px) {
  .desktop{
    display: none;
  }

  .stepLabel{
    display: none;
  }

  .topic{
    font-size: 27px;
    width: 100%;
  }

  #vehiclebutton img {
    filter: brightness(100%);
  }

  #vehiclebutton p{
    color: rgba(255, 255, 255, 0.6);
  }

  .servicesButtons, .servicesButtons:disabled{
    font-size: 15px;
  }
  mat-grid-tile {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .container{
    margin-top: 15%; 
    min-height: 100vh;
    height: auto;
  }

  #vehiclebutton{
    width: auto;
    height: auto;
    border-radius: 20px;
  }

  #vehiclebutton img{
    width: 40%;
   float: left;
   margin-bottom: 12px;
    /* height: 1%; */
  }

  #vehiclebutton p{
    float: right;
    margin-top: 20%;
    /* height: 1%; */
  }

  .addcar{
    display: none;
  }

  .mobileAddCar{
    position: fixed;
    display: block;
    bottom: 40px;
    right: 10px;
    margin: auto auto;
    z-index: 1;
    padding: 10px;
    border-radius: 100%;
    background: #0084ff;
  }

  #serviceStationSearch{
    width: 80%;
  }

  #vehiclebutton:hover img{
    width: 40%;
   float: left;
   margin-top: 15px;
   
  }

  .serviceType{
    min-height: 360px;
    height: auto;
  }

  .button1, .button2{
    width: 170px;
    height: 170px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  #serviceStationsTable{
    font-size: 15px;
  }

  .date{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #ratingscolumn{
    width: 30%;
  }

  ::ng-deep .mat-progress-bar {
    display: none !important;
  }
  
  .ratecount{
    display: none;
  }

  #ratevalue{
    column-span: initial;
    background: red;
  }
  #rate-head-mobile{
    display: block;
  }
  #rate-head-desktop{
    display: none;
  }
}
@media all and (min-width:768px) {
  .container{
    margin-top: 0%;
  }
  .topic{
    font-size: 40px;
  }

  #vehiclebutton{
    width: 200px;
    /* height: 300px; */
    /* background: red; */
  }

  #vehiclebutton p{
    font-size: 20px;
    float: none;
    margin-top: 0%;
  }

  #vehiclebutton img{
    width: 100%;
    float: none;
  }

  .button1, .button2{
    width: 300px;
    height: 300px;
    font-size: 40px;
  }

  .servicesButtons, .servicesButtons:disabled{
    font-size: 26px;
  }

  .mobileAddCar{
    display: none;
  }

  .addcar{
    display: inline;
    /* background: red; */
  }

 .addcar img{
   margin-top: 0px;
 }
 #vehiclebutton:hover img{
  width: 100%;
 float: inherit;
 margin-top: 10px;
 
}
#serviceStationSearch{
  width: 95%;
}

.button1, .button2{
  border-radius: 10px;
  margin-top: 20px;
}

#serviceStationsTable{
  width: 100%;
}

#ratingscolumn{
  width: fit-content;
}

::ng-deep .mat-progress-bar {
  display: block !important;
}

.ratecount{
  display: block;
}

#rate-head-mobile{
  display: none;
}
#rate-head-desktop{
  display: block;
}

}
@media all and (min-width:1024px) {
  .topic{
    font-size: 45px;
  }
  
  
}
@media all and (min-width:1200px) {
  .stepLabel{
    display: block;
  }

  .mobile{
    display: none;
  }

  .desktop{
    display: block;
  }

  #vehiclebutton img {
    filter: brightness(60%);
  }

  #vehiclebutton p{
    color: rgba(255, 255, 255, 0.4);
  }

  #vehiclebutton:hover p{
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
    filter: brightness(100%);
  }
}

@media all and (max-width:767px) {

  .content{
    max-height: 60vh;
  }

  .nextButton, .backButton {
    font-size: 20px;
    padding: 3px 10px;
  }

  .nextbackico{
    font-size: 16px;
    margin-top: 11%;
  }

  .topic{
    line-height: 80px;
    font-size: 20px;
  }

  .buttons{
    position: fixed;
    /* background: rgba(0, 0, 255, 0.424); */
    bottom: 35px;
    left: 0;
    transition: 0.3s;

  }

  .nextButton:disabled{
    display: none;
  }

  #timeSlotTable{
    width: 90%;
  }
  .serviceAppointConfirmation{
    width: 94%;
    height: fit-content;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;

  }

  .serviceAppointConfirmation h1{
    font-size: 25px;
  }
  
  .dateNote{
    width: 86%;
  }

  .mobile #serviceStationsTable th, .mobile #serviceStationsTable td{
    padding: 5px;
  }
}

@media all and (max-width:320px) {

  .content{
    max-height: 54vh;

  }
  #serviceStationSearch{
    width: 72%;
  }
}